services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
  db:
    image: postgres:17
    container_name: fastapi_db
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastapi_app
    env_file: .env
    volumes:
      - ./backend:/app # Твой код на компе синхронизируется с /app в контейнере
    depends_on:
      - db
    # Порты наружу не выставляем, к ним пойдет Nginx внутри сети

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react_app
    env_file: .env
    depends_on:
      - backend

volumes:
  postgres_data:
